[package]

name = "deuterium"
version = "0.3.1"
authors = ["Stanislav Panferov <fnight.m@gmail.com>"]
license = "MIT"
description = "Deuterium is a fancy SQL builder for Rust. It's designed to provide a DSL to easily build SQL queries in safe and *typed* way."
keywords = ["sql", "orm"]

[[test]]
name = "tests"

[features]
default = ["postgres"]

[dependencies]
uuid = "*"
time = "*"
rustc-serialize = "*"

[dependencies.postgres]
version = "*"
features = ["uuid"]
optional = true